/* sana tavsiyem kartların kullanılma sayısını veri tabanında kaydet ve belirlenen bir zamanda en çok kullanılan kart ın güzünü azaltırken en az kullanılan kartın gücünü arttırabilirsin
böylelikle oyunun sürekli güncel kalır
örn: LOL */

* {
  margin: 0;
  padding: 0;
  color: white;
}
.pokemon-game-arena {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  background-image: url("pokemon-background-img02.png");
  background-size: cover;
  background-repeat: no-repeat;
  position: sticky;
  height: 100vh;
}
.pokemon-enemy-card,
.pokemon-user-card {
  background-image: url("pokemon-card-black-gold.png");
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: -30px 0px 29px 32px rgba(0, 0, 0, 0.3);
  width: 515px;
  height: 710px;
}
.pokemon-enemy-card {
  background-image: url("pokemon-card-black-white.png");
}
.poke-card-info {
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
}
.poke-hero-name {
  font-size: 32px;
  text-transform: capitalize;
  color: black;
  font-family: "Rubik Lines";
}
.poke-hero-hp {
  font-size: 36px;
  color: #fbe602;
  font-family: "Rubik Lines";
  font-weight: 400;
}
.poke-card-hero-image {
  background-image: url("pokemon-ball-background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 560px;
  position: relative;
  z-index: -1;
}
.poke-hero-img {
  filter: drop-shadow(0px 0px 75px #eeff00);
}
.poke-hero-info {
  display: flex;
  justify-content: space-around;
}
.poke-hero-race,
.poke-hero-defense {
  color: #fbe602;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 18px;
}
.poke-hero-race {
  padding-left: 30px;
}
.poke-hero-race > span {
  font-family: "Rubik Lines";
  font-weight: 300;
  font-size: 14px;
  color: #fbe602;
  padding-left: 25px;
}
.poke-hero-defense > strong {
  font-family: "Rubik Lines";
  font-weight: 300;
  color: #fbe602;
  padding-left: 10px;
}
.poke-hero-info-down-side {
  display: flex;
  gap: 195px;
}
.poke-hero-attack-info {
  display: flex;
  gap: 55px;
  padding-top: 10px;
}
.poke-attack-text {
  padding-top: 15px;
  color: #fbe602;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 18px;
}
.poke-attack-info {
  font-family: "Rubik Lines";
  font-weight: 300;
  color: #fbe602;
}
.poke-enemy-hp,
.poke-enemy-race,
.poke-enemy-race > span,
.poke-enemy-defense,
.poke-enemy-defense > strong,
.poke-enemy-attack-text,
.poke-enemy-attack-info {
  color: white;
}
